@import url(./mobile.css);
@import url(./desktop.css);

body {
    margin: 0;
    padding: 0;
}

.calculator-keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.equal {
    background-image: linear-gradient(to bottom, #fe886a, #ff7033);
    grid-column: -1;
    grid-row: 2 / span 4;
    grid-gap: 1px;
}